// COLORS

$color-text: #777;
$color-text-2: #5e5e5e;
$color-light:#f7f7f7;

$color-white: #ffffff;
$color-black: #000000;

$color-primary: #7bc12a;   
$color-secondary: #ade071;   
$color-tertiary: #58891e; 

$color-background:#f0f5f9;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;

